# Server
SERVER_PORT=9393
EUREKA_CLIENT_DEFAULT_ZONE=http://eureka:8761/eureka/

# Mail
EMAIL_HOST=host
EMAIL_PORT=587
EMAIL_USERNAME=username
EMAIL_PASSWORD=password
EMAIL_SMTP_AUTH=true
EMAIL_STARTTLS_ENABLE=true
EMAIL_STARTTLS_REQUIRED=true
EMAIL_FROM=noreply@yourdomain.com
EMAIL_FROM_NAME=YourApp

# Frontend
FRONTEND_URL=https://yourdomain.com

# Spring
SPRING_PROFILE=dev

# Kafka
KAFKA_ACK_MODE=manual
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_CONSUMER_GROUP_ID=notification-service
KAFKA_CONSUMER_AUTO_OFFSET_RESET=earliest
KAFKA_CONSUMER_KEY_DESERIALIZER=org.apache.kafka.common.serialization.StringDeserializer
KAFKA_CONSUMER_VALUE_DESERIALIZER=ru.woowy.infrastructure.serialization.EventDeserializer
KAFKA_PRODUCER_KEY_SERIALIZER=org.apache.kafka.common.serialization.StringSerializer
KAFKA_PRODUCER_VALUE_SERIALIZER=ru.woowy.infrastructure.serialization.EventSerializer