# Server
SERVER_PORT=9292
EUREKA_CLIENT_DEFAULT_ZONE=http://eureka:8761/eureka/

# OAuth2
OAUTH2_RESOURCE_SERVER_JWK_URI=http://auth-service/oauth2/jwks

# Kafka
KAFKA_ACK_MODE=manual
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_CONSUMER_GROUP_ID=character-consumer
KAFKA_CONSUMER_AUTO_OFFSET_RESET=earliest
KAFKA_CONSUMER_KEY_DESERIALIZER=org.apache.kafka.common.serialization.StringDeserializer
KAFKA_CONSUMER_VALUE_DESERIALIZER=ru.woowy.infrastructure.serialization.EventDeserializer
KAFKA_PRODUCER_KEY_SERIALIZER=org.apache.kafka.common.serialization.StringSerializer
KAFKA_PRODUCER_VALUE_SERIALIZER=ru.woowy.infrastructure.serialization.EventSerializer

# Database
DATASOURCE_URL=jdbc:postgresql://localhost:6432/lifesim_character
DATASOURCE_USERNAME=dev
DATASOURCE_PASSWORD=dev
DATASOURCE_DRIVER_NAME=org.postgresql.Driver

# JPA
JPA_SHOW_SQL=false