# App
SERVER_URL=http://localhost:9696
CACHE_ENABLED=true

# JWT
JWT_EXPIRATION=1800000
JWT_REFRESH_EXPIRATION=2592000000
JWT_ISSUER=auth-service
JWT_KEY_ID=key-id

# Server
SERVER_PORT=9393
EUREKA_CLIENT_DEFAULT_ZONE=http://eureka:8761/eureka/

# Vault
VAULT_URI=http://vault:8200
VAULT_TOKEN=token
VAULT_KV_BACKEND=life-simulator
VAULT_KV_NAME=auth
VAULT_CONFIG_IMPORT=vault:///life-simulator/auth

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_CONSUMER_GROUP_ID=auth-service
KAFKA_CONSUMER_AUTO_OFFSET_RESET=earliest
KAFKA_CONSUMER_KEY_DESERIALIZER=org.apache.kafka.common.serialization.StringDeserializer
KAFKA_CONSUMER_VALUE_DESERIALIZER=ru.woowy.application.serializer.EventDeserializer
KAFKA_PRODUCER_KEY_SERIALIZER=org.apache.kafka.common.serialization.StringSerializer
KAFKA_PRODUCER_VALUE_SERIALIZER=ru.woowy.application.serializer.EventSerializer

# Database
DATASOURCE_URL=jdbc:postgresql://db:5432/lifesim_auth_dev
DATASOURCE_USERNAME=dev
DATASOURCE_PASSWORD=dev
DATASOURCE_DRIVER_NAME=org.postgresql.Driver

# JPA
JPA_SHOW_SQL=false

# OAuth2
OAUTH2_SERVER_ISSUER=http://auth-service:9393

# Swagger
GATEWAY_URL=http://gateway:9696