# JWT
JWT_EXPIRATION=1800000
JWT_REFRESH_EXPIRATION=2592000000
JWT_ISSUER=auth-service
JWT_KEY_ID=key-id

# Server
SERVER_PORT=9393

# Vault
VAULT_URI=http://vault:8200
VAULT_TOKEN=token
VAULT_KV_BACKEND=life-simulator
VAULT_KV_NAME=auth
VAULT_CONFIG_IMPORT=vault:///life-simulator/auth

# Database
DATASOURCE_URL=jdbc:postgresql://db:5432/lifesim_auth_dev
DATASOURCE_USERNAME=dev
DATASOURCE_PASSWORD=dev
DATASOURCE_DRIVER_NAME=org.postgresql.Driver

# JPA
JPA_SHOW_SQL=false

# OAuth2
OAUTH2_SERVER_ISSUER=http://auth-service:9393